run = "python main.py"
language = "python3"
entrypoint = "main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = "python main.py"
deploymentTarget = "autoscale"

[[ports]]
localPort = 8000
externalPort = 80
